$color-bleu-grey: #6b717f;
$color-white: #fff;
$color-grey: #8C8C8C;
$color-black: #000;
$color-magenta: #BF4080;
$color-green: green;
$color-red: red;
$color-orange: orange;
$padding: 16px;
$boxshadox: 10px 10px 15px -4px $color-blue-grey;